
*.js
*.svg
*.md
*.txt
staticfiles/admin/css/nav_sidebar.css
staticfiles/admin/css/base.css
staticfiles/admin/css/dashboard.css
staticfiles/admin/img/LICENSE
staticfiles/admin/css/widgets.css
staticfiles/admin/css/vendor/select2/select2.css

staticfiles/admin/css/changelists.css
staticfiles/admin/css/dark_mode.css
staticfiles/admin/css/forms.css
staticfiles/admin/css/login.css
staticfiles/admin/css/responsive.css
staticfiles/admin/css/responsive_rtl.css
staticfiles/admin/css/rtl.css
staticfiles/admin/css/vendor/select2/select2.min.css
staticfiles/admin/css/autocomplete.css
staticfiles/styles/styles.css
